        <form class="play-table pentagon" action="/" method="post">
            <button id="scissors" class="play-table__items pentagon-item scissors" type="submit" name="scissors">
                <img src="images/icon-scissors.svg" alt="Icon of scissors"/>
            </button>
            <button id="paper" class="play-table__items pentagon-item paper" type="submit" name="paper">
                <img src="images/icon-paper.svg" alt="Icon of scissors"/>
            </button>
            <button id="rock" class="play-table__items pentagon-item rock" type="submit" name="rock">
                <img src="images/icon-rock.svg" alt="Icon of scissors"/>
            </button>
            <button id="lizard" class="play-table__items pentagon-item lizard" type="submit" name="lizard">
                <img src="images/icon-lizard.svg" alt="Icon of scissors"/>
            </button>
            <button id="spock" class="play-table__items pentagon-item spock" type="submit" name="spock">
                <img src="images/icon-spock.svg" alt="Icon of scissors"/>
            </button>
          </form>
        